apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app.kubernetes.io/instance: erpnext
    app.kubernetes.io/name: erpnext
  name: worker-l
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/instance: worker-l
      app.kubernetes.io/name: worker-l
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      labels:
        app.kubernetes.io/instance: worker-l
        app.kubernetes.io/name: worker-l
    spec:
      containers:
      - args:
        - bench
        - worker
        - --queue
        - long
        image: frappe/erpnext-worker:v13.32.0
        imagePullPolicy: IfNotPresent
        name: long
        resources: {}
        securityContext:
          capabilities:
            add:
            - CAP_CHOWN
        volumeMounts:
        - mountPath: /home/frappe/frappe-bench/sites
          name: sites-dir
        - mountPath: /home/frappe/frappe-bench/logs
          name: logs
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext:
        supplementalGroups:
        - 1000
      serviceAccount: erpnext
      serviceAccountName: erpnext
      terminationGracePeriodSeconds: 30
      volumes:
      - name: sites-dir
        persistentVolumeClaim:
          claimName: erpnext
      - name: logs
        persistentVolumeClaim:
          claimName: erpnext-logs
